body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #FF1493; /* Deep pink for a vibrant look */
    color: white;
    width: 100%;
    padding: 20px 0;
}

header img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

#authContainer {
    background: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    margin: 20px;
}

input[type="email"], input[type="password"] {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF; /* Bootstrap blue for a trusty look */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

footer {
    font-size: 14px;
    color: #666;
    padding: 15px 0;
    width: 100%;
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    #authContainer {
        width: 90%;
    }
}
